div{
	margin: 0;
	padding: 0;
}

#board{
	background: blue;
	width: 820px;
}

.row{
	display: flex;
	height: 100px;
	margin: 10px;
	padding: 10px;
}

.hole{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background: white;
	margin: 5px;
}